pip
setuptools
wheel
secp256k1==0.13.2
cryptography==2.6.1
pyyaml==5.1
mock==2.0.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest
pytest-mock
pytest-cov
coverage
parameterized
tox
codacy-coverage
virtualenv
codecov
Click==7.0
click-spinner==0.1.8
requests>=2.20.0
gnureadline==6.3.8
beem==0.20.20
prettytable
cmd2
websocket-client
pycryptodomex
