[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

cryptography = "~=2.3"
pyyaml = "==3.13"
mock = "==2.0"
pycodestyle = "==2.4"
pyflakes = "==2.0"
Click = "==7.0"
click-spinner = "*"
requests = "==2.20"
gnureadline = "*"
beem = "==0.20"
prettytable = "*"
cmd2 = "*"




# Testing

pytest = "*"
pytest-pylint = "*"
pytest-console-scripts =  "*"

# Build
pip = "*"
setuptools = "*"
wheel = "*"

# Coverage

# Documentation



[requires]
python_version = "3.6"
